In [1]:
import csv
import os
from collections import defaultdict
import pandas as pd
from nltk.corpus import stopwords
from textblob import TextBlob, Word
from gensim.scripts.glove2word2vec import glove2word2vec
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from gensim.models import KeyedVectors # load the Stanford GloVe model
#nltk.download()

C:\Users\Naini\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [2]:
os.getcwd()
os.chdir("C:\\Users\\Naini\\final-project\\News-Headline-Generation\\data")

In [ ]:
#columns = defaultdict(list) # each value in each column is appended to a list

In [ ]:
'''with open('articles_small.csv', errors='ignore') as f:
    reader = csv.DictReader(f) # read rows into a dictionary format
    for row in reader: # read a row as {column1: value1, column2: value2,...}
        for (k,v) in row.items(): # go over each column name and value 
            columns[k].append(v) # append the value into the appropriate list
                                 # based on column name k '''

In [ ]:
#print(type(columns['title']))
#print('---------------------------------------------------------------------------------------------------')

In [ ]:
''' for i,x in enumerate(columns['title']):
    print(x)
    print('---------------------------------------------------------------------------------------------------')  '''

### 1. Basic Feature Extraction

In [3]:
#reading csv
train = pd.read_csv('articles_small.csv')

In [4]:
#Number of Words
train['word_count'] = train['content'].apply(lambda x: len(str(x).split(" ")))
train[['content','word_count']].head()

                                             content  word_count
0  WASHINGTON  —   Congressional Republicans have...         920
1  After the bullet shells get counted, the blood...        4905
2  When Walt Disney’s “Bambi” opened in 1942, cri...        2521
3  Death may be the great equalizer, but it isn’t...        2212
4  SEOUL, South Korea  —   North Korea’s leader, ...         741

In [5]:
#Number of characters
train['char_count'] = train['content'].str.len() ## this also includes spaces
train[['content','char_count']].head()

                                             content  char_count
0  WASHINGTON  —   Congressional Republicans have...        5607
1  After the bullet shells get counted, the blood...       27834
2  When Walt Disney’s “Bambi” opened in 1942, cri...       14018
3  Death may be the great equalizer, but it isn’t...       12274
4  SEOUL, South Korea  —   North Korea’s leader, ...        4195

In [6]:
# Average Word Length
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

In [7]:
train['avg_word'] = train['content'].apply(lambda x: avg_word(x))
train[['content','avg_word']].head()

                                             content  avg_word
0  WASHINGTON  —   Congressional Republicans have...  5.303167
1  After the bullet shells get counted, the blood...  4.807128
2  When Walt Disney’s “Bambi” opened in 1942, cri...  4.812892
3  Death may be the great equalizer, but it isn’t...  4.748938
4  SEOUL, South Korea  —   North Korea’s leader, ...  4.978386

In [8]:
#Number of stopwords
stop = stopwords.words('english')

In [9]:
train['stopwords'] = train['content'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['content','stopwords']].head()

                                             content  stopwords
0  WASHINGTON  —   Congressional Republicans have...        340
1  After the bullet shells get counted, the blood...       1888
2  When Walt Disney’s “Bambi” opened in 1942, cri...        883
3  Death may be the great equalizer, but it isn’t...        787
4  SEOUL, South Korea  —   North Korea’s leader, ...        236

In [10]:
#Number of numerics
train['numerics'] = train['content'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['content','numerics']].head()

                                             content  numerics
0  WASHINGTON  —   Congressional Republicans have...         0
1  After the bullet shells get counted, the blood...        56
2  When Walt Disney’s “Bambi” opened in 1942, cri...        11
3  Death may be the great equalizer, but it isn’t...        13
4  SEOUL, South Korea  —   North Korea’s leader, ...         5

In [11]:
#Number of Uppercase words
train['upper'] = train['content'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['content','upper']].head()

                                             content  upper
0  WASHINGTON  —   Congressional Republicans have...      5
1  After the bullet shells get counted, the blood...     29
2  When Walt Disney’s “Bambi” opened in 1942, cri...     14
3  Death may be the great equalizer, but it isn’t...     16
4  SEOUL, South Korea  —   North Korea’s leader, ...      9

### 2. Basic Pre-processing

In [12]:
#transform data into lower case
train['content'] = train['content'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['content'].head()

0    washington — congressional republicans have a ...
1    after the bullet shells get counted, the blood...
2    when walt disney’s “bambi” opened in 1942, cri...
3    death may be the great equalizer, but it isn’t...
4    seoul, south korea — north korea’s leader, kim...
Name: content, dtype: object

In [13]:
#Removing Punctuation
train['content'] = train['content'].str.replace('[^\w\s]','')
train['content'].head()

0    washington  congressional republicans have a n...
1    after the bullet shells get counted the blood ...
2    when walt disneys bambi opened in 1942 critics...
3    death may be the great equalizer but it isnt n...
4    seoul south korea  north koreas leader kim sai...
Name: content, dtype: object

In [14]:
#Removal of Stop Words
train['content'] = train['content'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['content'].head()

0    washington congressional republicans new fear ...
1    bullet shells get counted blood dries votive c...
2    walt disneys bambi opened 1942 critics praised...
3    death may great equalizer isnt necessarily eve...
4    seoul south korea north koreas leader kim said...
Name: content, dtype: object

In [15]:
#Common word removal
freq = pd.Series(' '.join(train['content']).split()).value_counts()[:10]
freq

mr        985
said      834
new       311
one       280
would     260
trump     241
ms        230
people    229
like      210
years     200
dtype: int64

In [16]:
freq = list(freq.index)
train['content'] = train['content'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['content'].head()

0    washington congressional republicans fear come...
1    bullet shells get counted blood dries votive c...
2    walt disneys bambi opened 1942 critics praised...
3    death may great equalizer isnt necessarily eve...
4    seoul south korea north koreas leader kim sund...
Name: content, dtype: object

In [17]:
#Rare words removal
rare = pd.Series(' '.join(train['content']).split()).value_counts()[-10:]
rare

jeopardy        1
wei             1
vineyard        1
scarred         1
dress           1
backfire        1
hatabs          1
polluting       1
philharmonic    1
unity           1
dtype: int64

In [18]:
rare = list(rare.index)
train['content'] = train['content'].apply(lambda x: " ".join(x for x in x.split() if x not in rare))
train['content'].head()

0    washington congressional republicans fear come...
1    bullet shells get counted blood dries votive c...
2    walt disneys bambi opened 1942 critics praised...
3    death may great equalizer isnt necessarily eve...
4    seoul south korea north koreas leader kim sund...
Name: content, dtype: object

In [19]:
#Spelling correction
train['content'][:10].apply(lambda x: str(TextBlob(x).correct()))

0    washington congressional republicans fear come...
1    bullet shells get counted blood dries votive c...
2    walt dinners baby opened 1942 critics praised ...
3    death may great equalizer isn necessarily even...
4    soul south more north sores leader him sunday ...
5    london queen elizabeth ii rattling cold week m...
6    being president tsar taiwan sharply criticized...
7    dandy chill stood slightly dazed blizzard conf...
8    axillary herr founder digital media company lo...
9    angels everywhere music family apartment bone ...
Name: content, dtype: object

In [38]:
#Tokenization - dividing the text into a sequence of words or sentences
#we have used the textblob library to first transform our data into a blob and then converted them into a series of words
for i,x in enumerate(train['content']):
    TextBlob(train['content'][i]).words

In [39]:
#Stemming -  removal of suffices, like “ing”, “ly”, “s”
st = PorterStemmer()
train['content'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0     washington congression republican fear come he...
1     bullet shell get count blood dri votiv candl b...
2     walt disney bambi open 1942 critic prais spare...
3     death may great equal isnt necessarili evenhan...
4     seoul south korea north korea leader kim sunda...
5     london queen elizabeth ii battl cold week miss...
6     beij presid tsai taiwan sharpli critic china l...
7     danni cahil stood slightli daze blizzard confe...
8     hillari kerr founder digit media compani lo an...
9     angel everywher muñiz famili apart bronx paint...
10    donald j take control white hous seem dark tim...
11    thompson tex promis troubl technolog fight glo...
12    west palm beach fla donald j rang year weekend...
13    articl part seri aim help navig life opportun ...
14    season famili travel photo perhap enlarg imag ...
15    final second avenu subway open york citi sunda...
16    page journal found dylann roof car assert blac...
17    mumbai india bold riski gambl prime minist nar...
18    baghdad suicid bomber deton pickup truck load ...
19    sydney australia annual beach pilgrimag height...
20    green bay packer lost washington redskin week ...
21    mariah carey suffer perform train wreck time s...
22    pari islam state driven ancient citi palmyra m...
23    pop music fashion never met cuter georg michae...
24    washington power ambiti congress 20 conven tue...
25    washington time republican tumultu decad seen ...
26    good morn here need know turkish author hunt g...
27    bodi iraqi prison found nake badli bruis 2003 ...
28    istanbul islam state monday issu rare claim re...
29    washington presid obama advis wrestl intract p...
                            ...
66    12th straight year travel section present annu...
67    whether music ear pop classic jazz countri ano...
68    whether train ship trail transit altern pois p...
69    broadway show often fold tent end year fear wi...
70    gov andrew cuomo york wednesday complet overha...
71    morn may 18 2014 violeta lagun perplex seri st...
72    aroch im sorri theyr littl bit stain drop coff...
73    hasnt great time man without job job disappear...
74    appl compli request chines author remov news a...
75    washington feder reserv offici expect donald j...
76    rajiv j shah truste rockefel foundat ask six m...
77    manila manhunt underway wednesday 150 inmat es...
78    beij china leader thought solut torrent snark ...
79    doral fla insid clandestin carniv corpor compl...
80    nation consum watchdog agenc tuesday order age...
81    london mayb wasnt iceberg ever sinc titan sank...
82    wall street bank institut start throw bonus cr...
83    broadway rang 2016 big bang 33 play music run ...
84    lecc itali first student young man arrest four...
85    first episod day time netflix reboot norman le...
86    forthcom book tear cannot stop subtitl sermon ...
87    condé nast public might sit gold mine archiv e...
88    washington unit front top intellig offici sena...
89    washington donald j expect choos director nati...
90    washington special agent adrian hawkin feder b...
91    unit nation top offici tri inspect infam priso...
92    washington vice mike penc top republican congr...
93    washington donald j trump transit staff issu b...
94    washington donald j lash democrat thursday eff...
95    talladega ala band tini histor black colleg se...
Name: content, Length: 96, dtype: object

In [40]:
#Lemmatization - it converts the word into its root word
train['content'] = train['content'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['content'].head()

0    washington congressional republican fear come ...
1    bullet shell get counted blood dry votive cand...
2    walt disney bambi opened 1942 critic praised s...
3    death may great equalizer isnt necessarily eve...
4    seoul south korea north korea leader kim sunda...
Name: content, dtype: object

### 3. Advance Text Processing

In [46]:
#N-grams - combination of multiple words used together.
for i,x in enumerate(train['content']):
    TextBlob(train['content'][i]).ngrams(2)

In [48]:
# Term frequency - ratio of the count of a word present in a sentence, to the length of the sentence
tf1 = (train['content']).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

           words    tf
0              0  13.0
1            000  49.0
2            025   1.0
3            053   1.0
4              1  51.0
5             10  39.0
6            100  25.0
7            101   1.0
8           1036   1.0
9            104   1.0
10           105   2.0
11           106   3.0
12            11  18.0
13           110   1.0
14           111   1.0
15           115   1.0
16         115th   1.0
17           119   1.0
18          11th   1.0
19            12  16.0
20           120   3.0
21           121   1.0
22          122s   1.0
23           125   2.0
24         125th   1.0
25          1279   1.0
26           129   1.0
27          12th   2.0
28            13   6.0
29           138   1.0
...          ...   ...
11974  zakharova   1.0
11975       zara   2.0
11976      zarco   1.0
11977      zaros   1.0
11978     zedong   1.0
11979       zero   4.0
11980      zhang   5.0
11981   zhongshu   1.0
11982       zine   1.0
11983      zines   1.0
11984    zionist   1.0
11985        zip   2.0
11986      zizit   1.0
11987   zlotnick   1.0
11988       zone   9.0
11989       zoom   1.0
11990     zoomin   1.0
11991    zoraida   2.0
11992   zoraidas   2.0
11993        zsa   4.0
11994     zurich   1.0
11995          à  22.0
11996   écoutant   1.0
11997     écrire   2.0
11998  écrivains   1.0
11999    églises   1.0
12000      élise   1.0
12001    érables   1.0
12002      était   1.0
12003      êtres   1.0

[12004 rows x 2 columns]

In [49]:
#Inverse Document Frequency - log of the ratio of the total number of rows to the number of rows in which that word is present
import numpy as np
for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['content'].str.contains(word)])))

tf1

           words    tf       idf
0              0  13.0  0.053489
1            000  49.0  1.428854
2            025   1.0  3.871201
3            053   1.0  4.564348
4              1  51.0  0.064539
5             10  39.0  0.632523
6            100  25.0  1.519826
7            101   1.0  4.564348
8           1036   1.0  4.564348
9            104   1.0  4.564348
10           105   2.0  3.871201
11           106   3.0  3.465736
12            11  18.0  1.386294
13           110   1.0  4.564348
14           111   1.0  4.564348
15           115   1.0  3.871201
16         115th   1.0  4.564348
17           119   1.0  4.564348
18          11th   1.0  4.564348
19            12  16.0  1.163151
20           120   3.0  3.465736
21           121   1.0  4.564348
22          122s   1.0  4.564348
23           125   2.0  3.465736
24         125th   1.0  4.564348
25          1279   1.0  4.564348
26           129   1.0  4.564348
27          12th   2.0  3.871201
28            13   6.0  1.673976
29           138   1.0  4.564348
...          ...   ...       ...
11974  zakharova   1.0  4.564348
11975       zara   2.0  4.564348
11976      zarco   1.0  4.564348
11977      zaros   1.0  4.564348
11978     zedong   1.0  4.564348
11979       zero   4.0  3.178054
11980      zhang   5.0  3.871201
11981   zhongshu   1.0  4.564348
11982       zine   1.0  1.925291
11983      zines   1.0  3.465736
11984    zionist   1.0  4.564348
11985        zip   2.0  4.564348
11986      zizit   1.0  4.564348
11987   zlotnick   1.0  4.564348
11988       zone   9.0  2.618438
11989       zoom   1.0  4.564348
11990     zoomin   1.0  4.564348
11991    zoraida   2.0  4.564348
11992   zoraidas   2.0  4.564348
11993        zsa   4.0  3.871201
11994     zurich   1.0  4.564348
11995          à  22.0  4.564348
11996   écoutant   1.0  4.564348
11997     écrire   2.0  4.564348
11998  écrivains   1.0  4.564348
11999    églises   1.0  4.564348
12000      élise   1.0  4.564348
12001    érables   1.0  4.564348
12002      était   1.0  4.564348
12003      êtres   1.0  4.564348

[12004 rows x 3 columns]

In [50]:
#Term Frequency – Inverse Document Frequency (TF-IDF) - multiplication of the TF and IDF 
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

           words    tf       idf       tfidf
0              0  13.0  0.053489    0.695353
1            000  49.0  1.428854   70.013845
2            025   1.0  3.871201    3.871201
3            053   1.0  4.564348    4.564348
4              1  51.0  0.064539    3.291465
5             10  39.0  0.632523   24.668380
6            100  25.0  1.519826   37.995644
7            101   1.0  4.564348    4.564348
8           1036   1.0  4.564348    4.564348
9            104   1.0  4.564348    4.564348
10           105   2.0  3.871201    7.742402
11           106   3.0  3.465736   10.397208
12            11  18.0  1.386294   24.953299
13           110   1.0  4.564348    4.564348
14           111   1.0  4.564348    4.564348
15           115   1.0  3.871201    3.871201
16         115th   1.0  4.564348    4.564348
17           119   1.0  4.564348    4.564348
18          11th   1.0  4.564348    4.564348
19            12  16.0  1.163151   18.610413
20           120   3.0  3.465736   10.397208
21           121   1.0  4.564348    4.564348
22          122s   1.0  4.564348    4.564348
23           125   2.0  3.465736    6.931472
24         125th   1.0  4.564348    4.564348
25          1279   1.0  4.564348    4.564348
26           129   1.0  4.564348    4.564348
27          12th   2.0  3.871201    7.742402
28            13   6.0  1.673976   10.043859
29           138   1.0  4.564348    4.564348
...          ...   ...       ...         ...
11974  zakharova   1.0  4.564348    4.564348
11975       zara   2.0  4.564348    9.128696
11976      zarco   1.0  4.564348    4.564348
11977      zaros   1.0  4.564348    4.564348
11978     zedong   1.0  4.564348    4.564348
11979       zero   4.0  3.178054   12.712215
11980      zhang   5.0  3.871201   19.356005
11981   zhongshu   1.0  4.564348    4.564348
11982       zine   1.0  1.925291    1.925291
11983      zines   1.0  3.465736    3.465736
11984    zionist   1.0  4.564348    4.564348
11985        zip   2.0  4.564348    9.128696
11986      zizit   1.0  4.564348    4.564348
11987   zlotnick   1.0  4.564348    4.564348
11988       zone   9.0  2.618438   23.565942
11989       zoom   1.0  4.564348    4.564348
11990     zoomin   1.0  4.564348    4.564348
11991    zoraida   2.0  4.564348    9.128696
11992   zoraidas   2.0  4.564348    9.128696
11993        zsa   4.0  3.871201   15.484804
11994     zurich   1.0  4.564348    4.564348
11995          à  22.0  4.564348  100.415660
11996   écoutant   1.0  4.564348    4.564348
11997     écrire   2.0  4.564348    9.128696
11998  écrivains   1.0  4.564348    4.564348
11999    églises   1.0  4.564348    4.564348
12000      élise   1.0  4.564348    4.564348
12001    érables   1.0  4.564348    4.564348
12002      était   1.0  4.564348    4.564348
12003      êtres   1.0  4.564348    4.564348

[12004 rows x 4 columns]

In [51]:
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['content'])

train_vect

<96x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 14953 stored elements in Compressed Sparse Row format>

In [52]:
#Bag of Words - representation of text which describes the presence of words within the text data
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['content'])
train_bow

<96x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 16960 stored elements in Compressed Sparse Row format>

In [53]:
# Word Embeddings
glove_input_file = 'glove.6B.100d.txt'
word2vec_output_file = 'glove.6B.100d.txt.word2vec'
# convert it into the word2vec format
glove2word2vec(glove_input_file, word2vec_output_file)

(400000, 100)

In [54]:
#load the above word2vec file as a model
filename = 'glove.6B.100d.txt.word2vec'
model = KeyedVectors.load_word2vec_format(filename, binary=False)

In [55]:
model['music']

array([ 1.2705e-01,  3.7253e-01,  2.3076e-01, -1.0727e-01,  1.4273e+00,
        7.7990e-01, -5.5009e-02, -1.8909e-01, -4.2828e-01,  2.8443e-01,
        1.1920e-01, -6.1978e-01, -3.9817e-01,  1.9127e-01, -3.2098e-01,
       -2.4116e-01,  6.0927e-01, -3.5765e-01,  2.0159e-01,  9.1107e-01,
       -4.8977e-01, -2.8970e-01,  1.0098e+00, -6.6149e-01,  7.0414e-02,
        1.3353e-01,  4.2234e-01, -8.0188e-02,  1.0722e+00,  2.6426e-01,
       -7.3982e-01,  6.4958e-01, -4.8367e-01,  8.5837e-01, -3.9008e-01,
       -1.3020e-01,  2.2331e-01,  2.0818e-01, -4.7260e-01, -1.7275e+00,
        3.7209e-01,  5.5544e-01, -8.9025e-01,  8.7442e-01, -2.9063e-01,
       -7.1175e-01, -3.3437e-01, -4.1141e-01,  9.9049e-01, -4.6207e-01,
       -2.5777e-01,  4.9513e-02, -2.2242e-01, -3.3757e-01, -1.5677e-01,
       -2.9576e+00, -5.8878e-01,  2.2432e-01,  1.6375e+00,  1.0263e+00,
        8.9573e-01,  1.3718e+00, -3.7709e-01, -8.2095e-02,  1.6339e-01,
       -2.5294e-01,  1.0987e+00, -2.0032e-03,  7.9235e-01, -2.9403e-01,
       -2.6906e-01,  2.3123e-01,  3.3826e-01,  1.7150e-01, -3.5479e-01,
       -1.3497e-01,  6.4417e-02, -3.4495e-01,  1.0946e-01, -6.6469e-01,
       -7.0734e-02, -6.8739e-01,  2.7765e-01,  1.2298e-01, -1.7341e+00,
        1.4590e-01, -6.3138e-01, -1.0531e+00, -2.9972e-01, -5.5542e-02,
       -2.6262e-02, -8.5846e-02, -4.5362e-01,  2.0519e-01, -3.3822e-01,
       -3.9972e-02, -9.6096e-01, -5.0523e-01,  9.6006e-01,  7.6983e-01],
      dtype=float32)

In [56]:
model['family']

array([ 4.2179e-01, -9.6730e-02,  1.0657e-01, -2.1117e-01, -5.4202e-01,
        8.8692e-01, -1.4038e-01, -1.0424e-01, -1.6009e-01,  1.5360e-01,
       -3.7699e-01,  4.5063e-02,  4.4316e-01,  3.9670e-01, -5.7958e-01,
       -3.5208e-01,  5.2960e-01, -4.3271e-01, -2.1603e-01,  1.0731e+00,
       -3.3560e-01,  6.7252e-02,  5.7345e-01,  3.5972e-01,  5.6134e-01,
       -3.1222e-01, -5.8412e-01, -2.2302e-01,  8.1725e-02,  5.4772e-01,
        3.5482e-01,  8.9450e-01,  6.9674e-01,  6.2971e-02,  1.7604e-01,
        6.7448e-01,  5.9729e-01,  4.9058e-01,  5.2370e-01, -7.8386e-02,
       -5.2658e-01, -5.6530e-01,  4.5006e-01, -7.5849e-01, -5.2401e-02,
        5.1847e-02, -3.2363e-01,  7.1197e-01,  5.8238e-01, -7.0496e-01,
       -1.9225e-01, -1.0275e+00,  8.8209e-01,  6.8192e-01, -7.0748e-02,
       -1.7905e+00, -8.8179e-01, -8.5265e-01,  1.3588e+00,  1.0301e+00,
        2.6106e-01,  8.9355e-01,  4.3638e-01, -5.8021e-01,  1.3251e+00,
       -5.7793e-01, -1.4836e-01, -9.2882e-02,  3.8736e-01,  2.2685e-01,
       -4.7656e-01,  6.8733e-04,  1.0141e-01, -8.1426e-01,  3.6058e-01,
        2.9421e-01, -2.8724e-01, -6.1977e-01, -1.3356e+00,  8.9373e-01,
       -3.4835e-01,  8.1035e-01,  6.0648e-01,  3.0482e-01, -1.0622e+00,
       -1.2440e-01, -7.0532e-01, -7.5184e-01, -6.0592e-01, -5.6799e-01,
       -5.7787e-02, -4.7453e-01,  1.3328e+00, -2.1134e-01, -9.8781e-01,
       -4.5881e-01, -2.9126e-01, -7.7503e-01,  8.1423e-01, -3.8642e-01],
      dtype=float32)

In [57]:
# take the average to represent the string ‘go away’ in the form of vectors having 100 dimensions
(model['music'] + model['family'])/2

array([ 0.27442   ,  0.13790001,  0.16866499, -0.15922001,  0.44263998,
        0.83341   , -0.0976945 , -0.146665  , -0.29418498,  0.219015  ,
       -0.128895  , -0.2873585 ,  0.022495  ,  0.293985  , -0.45028   ,
       -0.29662   ,  0.569435  , -0.39518   , -0.00722   ,  0.992085  ,
       -0.41268498, -0.111224  ,  0.791625  , -0.15088502,  0.315877  ,
       -0.089345  , -0.08088998, -0.151604  ,  0.5769625 ,  0.40599   ,
       -0.1925    ,  0.77204   ,  0.10653499,  0.4606705 , -0.10702001,
        0.27214003,  0.4103    ,  0.34938   ,  0.02554999, -0.90294296,
       -0.07724498, -0.00492999, -0.22009501,  0.05796498, -0.17151551,
       -0.3299515 , -0.329     ,  0.15027998,  0.786435  , -0.583515  ,
       -0.22501001, -0.48899353,  0.329835  ,  0.17217499, -0.113759  ,
       -2.3740501 , -0.735285  , -0.314165  ,  1.4981501 ,  1.0281999 ,
        0.578395  ,  1.1326749 ,  0.029645  , -0.3311525 ,  0.744245  ,
       -0.415435  ,  0.47517002, -0.0474426 ,  0.589855  , -0.03359   ,
       -0.37281   ,  0.11595867,  0.219835  , -0.32138002,  0.002895  ,
        0.07962   , -0.1114115 , -0.48236   , -0.61307   ,  0.11451998,
       -0.20954199,  0.06147999,  0.442065  ,  0.2139    , -1.39815   ,
        0.01075   , -0.66835   , -0.90247   , -0.45282   , -0.311766  ,
       -0.0420245 , -0.280188  ,  0.43959004, -0.003075  , -0.663015  ,
       -0.249391  , -0.62610996, -0.64013004,  0.88714504,  0.19170499],
      dtype=float32)